<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h2>About IVY</h2>
    </div>
    <div class="left">
        <button routerLink="/home" class="btn btn-success mx-3">Back</button>
    </div>
</nav>
<div class="f1">
<b>
    Address:
</b>
<p>
    5th & 6th Floor, “B” Block, Divyasree Omega,<br>
    Plot No 13/E, Survey No.13 (part),<br>
    Kondapur, Hyderabad,<br>
    Telangana 500084,<br>
    India.
</p>
<b>
    Tel:
</b>
<p>
     +91 40 4472 1000
</p>
<b>
    Email:
</b>
<p>
     info@ivycomptech.com
</p>
</div>
<div class="f2">
    <p>
        <b style="color: black">
            Ivy Comptech Private Limited<br>
            Ivy Software Development Services Private Limited<br>
            Ivy Global Shared Services Private Limited<br>
            Ivy Mobitech Services Private Limited
        </b>
    </p>

</div>
<body>
 <img src="assets/contact.jpg" >
</body>
