<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <!--div class="main"-->
        <nav class="navbar navbar-dark bg-primary">
            <h2 class="py-3">
                Employee Portal
            </h2>
            <div class="left">
                <button type="button" routerLink="/login" class="btn btn-danger ">Logout</button>
            </div>
            <div class="right">
                <div>

                    <button class="buttn" type="button" routerLink="/employees">Employee Record</button>
                    <button class="btns" routerLink="/contact">Contact Info</button>
                </div>
            </div>
        </nav>
        <img class="background-image" src="assets/photo.jpg"  alt="">
        <div class="container">
            <div class="myCard">
                <div class="row">
                    <div class="col-md-6">
                        <header><br>Welcome to....</header>
                        <div class="content">
                            <h1>Employee <br><span>Management</span> <br>Portal</h1>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    

</body>